/* slider.css */

.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .slider-title {
    font-size: 2rem;
    margin-top: 20px;
  }
  
  .slider-container {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 35%;
    right: 4%;
    border-radius: 10px;
    z-index: 2;
  }
  @media (max-width:900px){
    .slider-container{
      position: absolute;
      top: 58%;
      width: 300px;
      right: 20%;
    }
  }
  
  .slider-image1 {
    width: 200px;
    height: 400px;
    position: absolute;
    top: -20%;
    right: 30%;
    transition: opacity 1s ease-in-out;
  }
  